<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div class="container-fluid column-pad2">
      <div class="row is-flex">
        <div class="col-md-4 db-col">
          <h3><%= user %>'s Dashboard</h3>
          <ul>
            <li><a href='/post_idea'>Post a new idea</a></li>
            <li><a href='/search'>Search ideas</a></li>
          </ul>
          <br>
          <form class="form-group" action="/posts" method="delete">
            <label for="delete">Enter idea ID to delete:</label>
            <input type="text" name="delete-id" id="delete" size="5"></input> <!-- how to attach id -->
            <button type="submit" class="btn btn-sm btn-secondary">Delete Posted Idea</button>
          </form>
          <form class="form-group" action="/postsusers" method="delete">
            <label for="delete-saved">Enter saved idea ID to delete:</label>
            <input type="text" name="delete-saved" id="delete-saved" size="5"></input>
            <button type="submit" class="btn btn-sm btn-secondary">Delete Saved Idea</button>
          </form>
        </div>
        <div class="col-md-4 db-col">
          <h3>My posted ideas</h3>
          <ul>
            <% ideas.forEach((idea) => { %>
                <li>ID: <%= idea.id %> Idea: <%= idea.idea_text %></li>
            <% }); %>
          </ul>
        </div>
        <div class="col-md-4 db-col">
          <h3>Saved ideas</h3>
          <ul>
            <% saved_ideas.forEach((saved_idea) => { %>
            <li>ID: <%= saved_idea.id %> Idea: <%= saved_idea.idea_text %></li>
          <% }); %>
        </ul>
        </div>
      </div>
    </div>
    <footer class="foot index-foot">
      <h6>&copy; 2017 Rally Jinx</h6>
    </footer>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
