<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
  <header class="header container">
    <% include partials/header %>
  </header>
    <div class="container-fluid column-pad2">
      <div class="row is-flex">
        <div class="col-md-4 db-col">
          <h3><%= user %>'s Dashboard</h3>
          <ul>
            <li><a href="/posts">Post a new idea</a></li>
            <li><a href="/search">Search ideas</a></li>
          </ul>
          <br>
          <form class="form-group" action="/dashboard/?_method=delete" method="post">
            <label for="delete">Enter idea ID to delete:</label>
            <input type="text" name="id" id="delete" size="5"></input> <!-- how to attach id -->
            <button type="submit" class="btn btn-sm btn-secondary">Delete Posted Idea</button>
          </form>
          <form class="form-group" action="/dashboard/saved?_method=delete" method="post">
            <label for="delete-saved">Enter saved idea ID to delete:</label>
            <input type="text" name="saved_id" id="delete-saved" size="5"></input>
            <button type="submit" class="btn btn-sm btn-secondary">Delete Saved Idea</button>
          </form>
        </div>
        <div class="col-md-4 db-col">
          <h3>My posted ideas</h3>
          <ul>
            <% ideas.forEach((idea) => { %>
                <li><%= idea.idea_text %> [ID: <%= idea.id %>] [<%= idea.topic %>] <a href="/edit/<%= idea.id %>">Edit</a></li>
            <% }); %>
          </ul>
        </div>
        <div class="col-md-4 db-col">
          <h3>Saved ideas</h3>
          <ul>
            <% saved_ideas.forEach((saved_idea) => { %>
            <li><%= saved_idea.idea_text %> [ID: <%= saved_idea.id %>] [<%= saved_idea.topic %>]</li>
          <% }); %>
        </ul>
        </div>
      </div>
    </div>

    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
